/* Webfont: Oryza-Regular */@font-face {
    font-family: 'Oryza';
    src: url('Oryza.woff2') format('woff2'), /* Modern Browsers */
         url('Oryza.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

