ConnectionStrings__Default="Server=127.0.0.1;Database=YourDB;User Id=sa;Password=<YOUR_PASSWORD>;Encrypt=False;TrustServerCertificate=True;Connect Timeout=60;"
Jwt__SignKey="<YOUR_JWT_SIGN_KEY_HERE>"
Jwt__EncKey="<YOUR_JWT_ENC_KEY_HERE>"
EmailSettings__Username="<YOUR_EMAIL_HERE>"
EmailSettings__Password="<YOUR_APP_PASSWORD_HERE>"
